* {  margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: rgb(169,34,81);
    background-color: rgb(255, 255, 255, 0.4);
    margin: 200px 600px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.5s;
}

h1:hover {
    background-color: rgb(255, 255, 255);
}

.cla1 {
    font-size: 50px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(169, 34, 81, 0.3);
    margin: 20px 300px 20px 300px;
    border-radius: 10px;
}

.name{
    font-size: 40px;
}

.cla2 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(169, 34, 81, 0.3);
    margin: 20px 500px 20px 20px;
    border-radius: 10px;
}

.cla3{
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(169, 34, 81, 0.3);
    margin-left: 200px;
    margin-right: 20px;
    border-radius: 10px;
}

h2 {
    color: rgb(169,34,81);
    font-size: 70px;
    background-image: url(./img/fondoww.jpg);
    margin: 10px;
}

h4{
    color: rgb(169,34,81,0.7);
}

aside {
    color: rgb(169,34,81);
    font-size: 30px;
    width: 200px;
    text-align: center;
    border-style: dotted;
    border-color: rgb(230, 147, 176);
    float: right;
    margin-right: 50px;
}

aside ul{
    list-style-type: none;
}

p {
    font-size: 20px;
}

#encabezado {
    background-color: rgb(177, 126, 224);
    padding: 270px 100px;
    background-image: url(./img/fondobk.jpg);
    background-size: cover;
}

footer {
    background-color: rgb(169,34,81);
    color: rgb(255, 255, 255);
    background-image: url(./img/footer.png);
}

footer p{
    font-size: 60px;
    margin: 10px;

}

#icon {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
}

.cont{
    transition: all 0.5s;
}

.cont:hover{
    background-color: rgb(230, 147, 176);
}

#lang{
    font-size: 30px;
    margin: 30px;
}

#foto{
    background-color: rgb(255, 0, 0, 0.5);
    width: 70px;
    height: 70px;
    transition: width 2s;
    color: white;
    margin-left: 4px;
    display: flex;
    align-items: center;
}

#foto p{
    margin-left: 40px;
}

#foto:hover{
    width: 300px;
}

#fran{
    background-color: rgb(0, 4, 255, 0.5);
    width: 70px;
    height: 70px;
    transition: width 2s;
    color: white;
    margin-left: 4px;
    display: flex;
    align-items: center;
}

#fran p{
    margin-left: 40px;
}

#fran:hover{
    width: 300px;
}

#ale{
    background-color: rgba(212, 194, 28, 0.5);
    width: 70px;
    height: 70px;
    transition: width 2s;
    color: white;
    display: flex;
    align-items: center;
}

#ale p{
    margin-left: 40px;
}

#ale:hover{
    width: 300px;
}

.ass{
    display: inline-block;
    justify-content: space-between;
    font-size: 30px;
}

#line{
    display: flex;
    justify-content: center;
    align-items: center;
}

#line img{
    width: 400px;
    margin: 40px;
}

#line2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#line2 img{
    width: 200px;
    margin: 40px;
}